@{
  Layout = "_Layout";
}



<h3>Welcome Back Pierre!</h3>
<p>What would you like to do today?</p>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-title">
        <h4>Vendors</h4>
      </div>
      <hr>
      <div class="card-body">
        <a href="/vendors">View All Vendors</a>
      </div>
      <div class="card-body">
        <a href="/vendors/add">Add a New Vendor</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-title">
        <h4>Orders</h4>
      </div>
      <hr>
      <div class="card-body">
        <a href="/orders">View All Orders</a>
      </div>
      <div class="card-body">
        <a href="/orders/add">Add a New Order</a>
      </div>
    </div>
  </div>
</div>