@{
  Layout = "_Layout";
}

<div class="jumbotron bakery-jumbotron">
  <h1 class="bakery-jumbotron-heading">ADD A VENDOR</h1>
</div>
<div class="bakery-form-container">
  <div class="form-group">
    <form action="/vendors" method="post">
      <label for=" vendorName">Vendor Name</label>
      <input type="text" name="vendorName" id="vendorName" class="form-control">
      <label for="vendorDescription">Vendor Description</label>
      <input type="text" name="vendorDescription" id="vendorDescription" class="form-control">
      <button class="btn btn-dark add-button" type="submit">Add Vendor</button>
    </form>
  </div>
</div>